<template>
  <section>
    <h1 class="header">Nuxt TypeScript Starter</h1>
    <div class="cards">
      <Card
        v-for="person in userOnline.users" 
        :key="person.id" 
        :person="person"
      />
    </div>
  </section>
</template>

<script lang="ts">
import {
  Component,
  Vue
} from "nuxt-property-decorator"
import { State } from "vuex-class"
import Card from "~/components/Card.vue"

@Component({
  components: {
    Card
  }
})
export default class extends Vue {
  @State user;
  @State gamesFavourite;
  @State gamesMy;
  @State userOnline;
  @State gamesRecruiting;
  @State news;
  @State postsWeekly;
  @State gamesHot;
  @State forumHot;
  @State quizes;
}
</script>

<style scoped>
.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
</style>